aiosmtplib
amqp
asgiref
async-timeout
billiard
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coreapi
coreschema
cryptography
decorator
defusedxml
Deprecated
Django
django-boost
django-environ
django-extensions
django-oauth-toolkit
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
drf-writable-nested
drf-yasg
idna
inflection
itypes
Jinja2
jwcrypto
kombu
MarkupSafe
oauthlib
openapi-codec
packaging
Pillow
prompt-toolkit
psycopg2
pycparser
PyJWT
python-dateutil
python3-openid
pytz
PyYAML
redis
requests
requests-oauthlib
self
simplejson
six
social-auth-app-django
social-auth-core
sqlparse
tzdata
ua-parser
uritemplate
urllib3
user-agents
vine
wcwidth
wrapt
gunicorn
whitenoise
